//
// to-do: margin, padding, border, border-color
//

//
// background-color
//


//
// text-decoration
//
.text- {
    &decoration-none {
        text-decoration: none;
    }
    &underline {
        text-decoration: underline;
    }
    &dashed {
        text-decoration: dashed;
    }
    &dotted {
        text-decoration: dotted;
    }
}


//
// vertical-align
//
.valign- {
    &top {
        vertical-align: top;
    }
    &middle {
        vertical-align: middle;
    }
    &bottom {
        vertical-align: bottom;
    }
}

//
// display
//
.display- {
    &inline {
        display: inline;
    }
    &block {
        display: block;
    }
    &inline-block {
        display: inline-block;
    }
    &none {
        display: none;
    }
}